<%= simple_form_for Contact.new , :html => {:class => 'form-group' } do |f| %>
    <%= f.input :name, :required => true, id:"contact_input_name", placeholder:"Nombre" , class: "form-control" , label: false  %>
    <%= f.input :email, :required => true ,  id:"contact_input_email", placeholder:"Email" , class: "form-control" , label: false  %>
    <%= f.input :tel ,   placeholder: "Telefono", class: "form-control", label: false %>
    <div
      </br>
      <%= f.button :submit, 'Contactar', class: "btn btn-default", id:"btn-contact" %>
    </div>
<% end %>
<style>
.input {
  margin:8px;  
  font-size:8px;

}
input[type="text"], input[type="password"], input[type="email"], select {
    height: 2.0em ;
}
#btn-contact{
    width: 97%;
    margin: 8px;
}

</style>
