<div class="container log_sign_in_container" id="login_form" style="position:relative !important;">
	<div class="col-xs-12 column">
		<div class="col-sm-3 col-sm-offset-4 column">
      		<div class="row center-sm" style="text-align:center;"><h2>Entrar</h2></div>    
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|  %>
			<div class="form-group"> 
				<%= f.email_field :email, autofocus: true , placeholder: "Correo" ,  type: "email", class:"form-control" %>
			</div>
			<div class="form-group"> 
				<%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña", type: "password", class:"form-control" %>
			</div>
			<div class="form-group"> 
				<%= f.submit "Entrar", class: "btn btn-block btn-default "  %>
			</div>  	
			<% if devise_mapping.rememberable? %>
					<div class="checkbox">
						<%= f.check_box :remember_me , {checked: true}, type:"checkbox"%>
					</div>  
			<% end %>	
			<div class=" actions"> 
				<%= render "devise/shared/links" %>
			</div>  
			<% end %>
	</div> 
	</div> 
</div>   
