<!DOCTYPE html>
<html>
<head>
	<title>Inmobiliaria</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body >
<!-- 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->
	<%= render "partials/navigation" %> 
	<%= yield %>
</body>
</html>
